*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(ing/bacgraund.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.textuse{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 5px;
}
.pr{
    text-align: left;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.uptext{
    margin: 10px;
    text-align: center;
}
.div9{
    display: flex;
    justify-content: center;

}
.divbox{
    display: flex;
    border: 2px solid white;
    margin:20px;
    width: 350px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 20px;
    box-shadow: 0px 0px 5px 0px black;
    
}
.strong{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 10px;
}
.div1:hover{
    transform: scale(1.2);
    transition: 1.2s;
    box-shadow: 0px 0px 90px 0px black;
}.div2:hover{
    transform: scale(1.2);
    transition: 1.2s;
    box-shadow: 0px 0px 90px 0px black;
}.div3:hover{
    transform: scale(1.2);
    transition: 1.2s;
    box-shadow: 0px 0px 90px 0px black;
}.div4:hover{
    transform: scale(1.2);
    transition: 1.2s;
    box-shadow: 0px 0px 90px 0px black;
}.div5:hover{
    transform: scale(1.2);
    transition: 1.2s;
    box-shadow: 0px 0px 90px 0px black;
}.div6:hover{
    transform: scale(1.2);
    transition: 1.2s;
    box-shadow: 0px 0px 90px 0px black;
}
.divbox:hover{
    transform: scale(1.2);
    transition: 1.2s;
    border-radius: 20px;
}